<p>

    {% if request.user.is_authenticated %}
<h2>Welcome {{ request.user.email }}</h2>
        <a href="{% url 'profile' %}">Profile</a>|
        <a href="{% url 'logout' %}">Logout</a>|
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'account:signup' %}">Sign Up |</a>
        <a href="{% url 'login' %}">Login |</a>
</p>
    {% endif %}
    <div>
        Tables:
        <br><a href="{% url 'currency:rate-list' %}">1.Rates</a><br>
        <a href="{% url 'currency:contact-list' %}">2.Contact</a><br>
        <a href="{% url 'currency:source-list' %}">3.Source</a><br>
        <a href="{% url 'currency:req-res-list' %}">4.RequestResponseLog</a><br>
    </div>

