{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}
<table border="1" cellpadding="5" cellspacing="0">
    <thread> Contact Table
    <tr>
        <td>ID</td><td>Email_from</td><td>Subject</td><td>Message</td>
    </tr>
{% for contact in contacts %}
<tr>
    <td>{{ contact.id }}</td>
    <td>{{ contact.email_from }}</td>
    <td>{{ contact.subject }}</td>
    <td>{{ contact.message }}</td>
</tr>
    </thread>
{% endfor %}
</table>
{% endblock content %}