{% extends 'base.html' %}

{% block title %}
    Rates list
{% endblock title %}

{% block content %}
<a href="{% url 'rate-create' %}">Create</a><br>
    Rates Table
<table border="1" cellpadding="5" cellspacing="0" style="text-align: center">

    <tr>
        <td>Buy</td><td>Sell</td><td>Currency</td><td>Source</td><td>Actions</td>
    </tr>
    <tbody>
    {% for rate in object_list %}
<tr>
    <td>{{ rate.buy }}</td>
    <td>{{ rate.sell }}</td>
    <td>{{ rate.get_currency_display }}</td>
    <td>{{ rate.source }}</td>

    <td>
        <a href="{% url 'rate-update' rate.id %}">Update</a>
        <a href="{% url 'rate-delete' rate.id %}">Delete</a>
        <a href="{% url 'rate-details' rate.id %}">Details</a>
    </td>
</tr>
    {% endfor %}
    </tbody>

</table>

{% endblock content %}
