{% extends 'base.html' %}

{% block title %}
    Details rate
{% endblock title %}

{% block content %}
Details Rate
<table border="1" cellpadding="5" cellspacing="0" style="text-align: center">

    <tr>
        <td>ID</td><td>Created</td><td>Currency</td><td>Buy</td><td>Sell</td><td>Source</td>
    </tr>

    <tbody>


        <tr>
            <td>{{ rate.id }}</td>
            <td>{{ rate.created }}</td>
            <td>{{ rate.currency }}</td>
            <td>{{ rate.buy}}</td>
            <td>{{ rate.sell}}</td>
            <td>{{ rate.source}}</td>
        </tr>

    </tbody>

</table>
{% endblock content %}
