{% extends 'base.html' %}
{% block title %}
    Request Response Log list
{% endblock title %}

{% block content %}
<h3>Request Response Log Table</h3>
<div class="row col-12">
<table class="table table-striped">

    <tr>
        <th>ID</th><th>Path</th><th>Request method</th><th>Time</th><th>Actions</th>
    </tr>
    <tbody>
    {% for rrl in object_list %}
<tr>
    <td>{{ rrl.id }}</td>
    <td>{{ rrl.path }}</td>
    <td>{{ rrl.request_method }}</td>
    <td>{{ rrl.time }}</td>

    <td>
        <a href="{% url 'currency:req-res-delete' rrl.id %}">Delete</a>
    </td>
</tr>
    {% endfor %}
    </tbody>

</>

{% endblock content %}