{% extends 'base.html' %}

{% block title %}
    Details source
{% endblock title %}

{% block content %}
<h3>Details source</h3>
<table  class="table table-striped">

    <tr>
        <th>ID</th><th>Url</th><th>Name</th><th>Country</th>
    </tr>

    <tbody>


        <tr>
            <td>{{ source.id }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.name }}</td>
            <td>{{ source.country }}</td>
        </tr>

    </tbody>

</table>


{% endblock content %}
