{% extends 'base.html' %}

{% block title %}
    Source list
{% endblock title %}

{% block content %}
<a href="{% url 'currency:source-create' %}">Create</a><br>
     <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form><br>
    <h3>Sources Table</h3>
<div class="row col-12">
<table class="table table-striped">

    <tr>
        <th scope="col">#</th><th scope="col">ID</th><th scope="col">Url</th><th scope="col">Name</th><th scope="col">Actions</th>
    </tr>

    <tbody>
       {% for source in object_list %}
<tr>
    <td scope="col">{{ forloop.counter }}</td>
    <td>{{ source.id }}</td>
    <td>{{ source.source_url }}</td>
    <td>{{ source.name }}</td>

        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                     aria-expanded="false">
                    Actions
                </button>
            <div class="dropdown-menu">
                <li><a href="{% url 'currency:source-update' source.id %}">Update</a></li>
                <li><a href="{% url 'currency:source-delete' source.id %}">Delete</a></li>
                <li><a href="{% url 'currency:source-details' source.id %}">Details</a></li>
            </div>
        </div>
    </td>
</tr>
   {% endfor %}
    </tbody>

</table>
</div>
    {% include 'includes/pagination.html' %}
{% endblock content %}
