{% extends 'base.html' %}

{% block title %}
    Source list
{% endblock title %}

{% block content %}
<a href="{% url 'currency:source-create' %}">Create</a><br>
    Sources Table
<table border="1" cellpadding="5" cellspacing="0" style="text-align: center">

    <tr>
        <td>Url</td><td>Name</td><td>Actions</td>
    </tr>

    <tbody>
       {% for source in object_list %}
        <tr>
        <td>{{ source.source_url }}</td>
        <td>{{ source.name }}</td>

        <td>
            <a href="{% url 'currency:source-update' source.id %}">Update</a>
            <a href="{% url 'currency:source-delete' source.id %}">Delete</a>
            <a href="{% url 'currency:source-details' source.id %}">Details</a>
        </td>

        </tr>
       {% endfor %}
    </tbody>

</table>


{% endblock content %}
