{% extends 'base.html' %}

{% block title %}
    Details source
{% endblock title %}

{% block content %}
Details source
<table border="1" cellpadding="5" cellspacing="0" style="text-align: center">

    <tr>
        <td>ID</td><td>Url</td><td>Name</td><td>Country</td>
    </tr>

    <tbody>


        <tr>
            <td>{{ source.id }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.name }}</td>
            <td>{{ source.country }}</td>
        </tr>

    </tbody>

</table>


{% endblock content %}
